= form_for @item do |f|
  - if @item.errors.any?
    #error_explanation
      %h2= "#{pluralize(@item.errors.count, "error")} prohibited this item from being saved:"
      %ul
        - @item.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :image_url
    = f.text_field :image_url
  .field
    = f.label :prix
    = f.number_field :prix
  .field
    = f.label :description
    = f.text_field :description
  .field
    = f.label :style
    = f.text_field :style
  .field
    = f.label :img_link
    = f.text_field :img_link
  .field
    = f.label :color
    = f.text_field :color
  .field
    = f.label :material
    = f.text_field :material
  .actions
    = f.submit 'Save'
