%p#notice= notice

%p
  %b Title:
  = @message.title
%p
  %b Content:
  = @message.content
%p
  %b User:
  = @message.user
%p
  %b Message:
  = @message.message

= link_to 'Edit', edit_message_path(@message)
\|
= link_to 'Back', messages_path
