<!DOCTYPE html>
<html>
<head>
  <title>Delamaison</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>
<body>
<div>
  <%= render 'layouts/header' %>
  <h1>
    okopkokookokapfoaozeifo
  </h1>
</div>
<body><span id="iess" style="behavior:url(#default#userData)"></span>
<div id="attente" style="display: none;"><b>La page est en cours de chargement....</b><br>Delamaison ©</div>

<div id="page">
  <div id="cookiePoolicy" style="display: none;">
    <div id="textcookie">delamaison.fr utilise les cookies pour améliorer votre expérience sur le site ou les
      réseaux sociaux, pour mesurer l'audience, mais aussi à des fins marketing avec nos partenaires. En
      poursuivant votre navigation, vous acceptez <a href="/cookies_policy.html" style="color: white; text-decoration: underline;"><strong>l'utilisation
      des cookies</strong>.</a>
    </div>
    <div id="pectureCloseCookie" onclick="javascript:closeLayerCookiePolicy()"></div>
  </div>

  <div id="affiliation"></div>

  <div id="header" style="background-color: #f4f3f3; height: 88px;">
    <div id="logo-et-market">
      <div class="header-left">
        <a href="http://www.delamaison.fr/">
          <div id="header_clickHome"></div>
        </a>
      </div>
    </div>
    <div class="explorateur_header" id="explorateur_header" style="cursor: pointer;">
    </div>
    <div id="header_search">
      <script>
          function testSearchValue(type) {
              if (type == 1) {
                  if ($j("#chps_search").val() == "") {
                      $j("#chps_search").val("");
                  } else if (/\S$/.test($j("#chps_search").val())) {
                      $j("#chps_search").val($j("#chps_search").val() + " ");
                  }
              } else {
                  if ($j("#chps_search").val() == '') {
                      $j("#chps_search").val("")
                  }
              }
          }

          function testCookiePolicy() {
              if(getCookie("CookiePolicy")=="") {
                  $j('#cookiePoolicy').css('display', 'inline');
              }
          }
          function closeLayerCookiePolicy() {
              if(getCookie("CookiePolicy")=="") {
                  document.cookie = "CookiePolicy=true; max-age=" + 60 * 60 * 24 * 395;
                  $j('#cookiePoolicy').hide();
              }
          }
      </script>
      <!-- End of Google Website Optimizer Control Script -->
      <form id="quick_find" name="quick_find" action="http://www.delamaison.fr/" method="get" onsubmit="try{tracker55.fb(&quot;recherche&quot;,&quot;HP&quot;,&quot;clic&quot;)}catch(e){};creatSearchCookie();"><!--zzz--><input type="text" name="q" id="chps_search" value="" onfocus="testSearchValue(1)" onblur="testSearchValue(2)" size="15" maxlength="64" autocomplete="off"><div style="position:absolute;background:white;width:200px;border:solid #9d9691 1px;margin-top:31px; padding:2px 0 2px 5px;text-align:left;display:none;text-transform:none;"></div><input type="submit" class="bouton" value="" id="searchBtn">
      </form>    </div>
    <script>
        domloadedfuncs.push(function () {
            $j("span[u]", "#header_wrapper").each(function () {
                $j(this).replaceWith('<a class=links_footer href="' + $j(this).attr('u') + '#">' + $j(this).html() + '</a>');
            })
        });
        domloadedfuncs.push(function () {
            $j("img[data-original]").lazyload();
        });

        domloadedfuncs.push(function () {
            if (!isMobilePad()) {
                $j(".lazyLoadAd_places").lazyLoadAd({
                    threshold: 200
                });
            }
        });
    </script>
    <div id="Header_newsletter">
      <a href="#" id="popupHotline" onclick="return false;" rel="nofollow">
            <span id="Header_contactezNous">
            </span>
        <div class="telHeader"></div>
      </a>
    </div>
    <div id="Header_blog">
      <a href="http://blog-deco-delamaison.fr/" target="_blank" id="blog_dlm" rel="nofollow">
        <div class="blogHeader"></div>
      </a>
    </div>
    <div id="UTMenu_log">
      <div id="header_account">
        <div id="header_account_notconnected">
          <div>
            <a class="header_right" rel="nofollow">Labo déco</a>
            <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
              Labo déco</a>
            <ul class="dropdown-menu">
              <li><a href="#">Labo déco</a></li>
              <li><a href="#">Poser une question</a></li>
              <li><a href="#">Voir les questions</a></li>
            </ul>
          </div>
          <span class="trait_header">&nbsp;</span>
          <a class="header_account_connexion" href="javascript:NotifyPL();" rel="nofollow">Connexion</a>
        </div>
        <div id="header_account_connected">
          <a class="header_account_connexion" href="logoff.php" rel="nofollow">Déconnexion</a>
          <span class="trait_header">&nbsp;</span>
          <div class="header_right" id="helloFirstname">Bonjour <span id="header_firstname"></span></div>
        </div>

      </div>

      <div id="header_wrapper">
        <div id="header_wrapper_notconnected">
          <a href="http://www.delamaison.fr/shopping_cart.php" rel="nofollow">
            <div class="header_right" style="display:inline-block; margin-top:-6px;">
              <div id="cart-middle">
                <span id="header_panier_a">Mon panier</span>
              </div>
            </div>
          </a>
        </div>
        <div id="header_wrapper_connected">
          <a href="account.php" rel="nofollow" class="header_right">Mon compte</a>
          <span class="trait_header">&nbsp;</span>
          <a href="http://www.delamaison.fr/shopping_cart.php" rel="nofollow">
            <div class="header_right">
              <div id="cart-middle">
                <span id="header_panier_b">Mon panier</span>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>	<!--  Debut menuhead -->

  <div id="menu_haut" style="position: static;">
    <a href="/"><div class="UTMenu_accueil"><div class="UTMenu_accueilImg"></div></div></a>
    <div id="UTMenu">

      <div class="UTMenu_univer">
        <div class="UTMenu_title UTMenu_title_Meubles"> <div class="puceHeader"></div>
          <a href="/meubles-c-68.html" onmouseover="new UTMenu(event);" onmouseout="UTMenu.hasMouse=false;">Meubles</a>
        </div>
        <div class="UTMenu_div" onmouseover="UTMenu.hasMouse=true;" onmouseout="UTMenu.hasMouse=false;">
          <div class="UTMenu_div_accueil">
            <a href="/meubles-c-68.html">Accueil Meubles</a>
          </div><div class="UTMenu_div_marque">
          <a href="/marques-meubles-c-68.html">Marques Meubles</a>
        </div>
          <a href="/lit-c-68_3161.html">Lit</a>
          <a href="/table-c-68_3397.html">Table</a>
          <a href="/chaise-c-68_3396.html">Chaise</a>
          <a href="/buffet-design-c-68_1824.html">Buffet</a>
          <a href="/armoire-c-68_3390.html">Armoire</a>
          <a href="/meubles-tv-c-68_157.html">Meuble TV</a>
          <a href="/tabouret-pouf-c-68_3402.html">Tabouret / Pouf</a>
          <a href="/les-bureaux-c-68_154.html">Meuble de bureau</a>
          <a href="/etagere-bibliotheque-c-68_3371.html">Etagère / Bibliothèque</a>
          <a href="/meuble-rangement-c-68_3374.html">Meuble de rangement</a>
          <a href="/salles-bains-c-68_272.html">Meuble salle de bain</a>
          <a href="/meuble-cuisine-c-68_2583.html">Meuble cuisine</a>
        </div>
      </div>
      <div class="UTMenu_univer">
        <div class="UTMenu_title UTMenu_title_DeacuteBcoration"> <div class="puceHeader"></div>
          <a href="/decoration-c-65.html" onmouseover="new UTMenu(event);" onmouseout="UTMenu.hasMouse=false;">Décoration</a>
        </div>
        <div class="UTMenu_div" onmouseover="UTMenu.hasMouse=true;" onmouseout="UTMenu.hasMouse=false;">
          <div class="UTMenu_div_accueil">
            <a href="/decoration-c-65.html">Accueil Décoration</a>
          </div><div class="UTMenu_div_marque">
          <a href="/marques-decoration-c-65.html">Marques Décoration</a>
        </div>
          <a href="/decorations-fete-c-65_508.html">Sapin / Décoration Noel</a>
          <a href="/tapis-c-65_305.html">Tapis / Paillasson</a>
          <a href="/miroir-c-65_2719.html">Miroir</a>
          <a href="/rangements-c-65_102.html">Petit rangement</a>
          <a href="/boite-coffre-c-65_3408.html">Boite / Coffre</a>
          <a href="/deco-murale-c-65_1660.html">Décoration murale</a>
          <a href="/horloges-c-65_696.html">Horloge</a>
          <a href="/deco-lumineuse-c-65_3633.html">Déco lumineuse</a>
          <a href="/salle-bain-c-65_109.html">Décoration salle de bain</a>
          <a href="/vase-fleurs-artificielles-plante-c-65_2720.html">Plantes artificielles</a>
          <a href="/vase-c-65_2721.html">Vase</a>
          <a href="/bougie-bougeoir-photophore-c-65_2713.html">Bougie / Bougeoir / Photophore</a>
          <span u="/cheque-cadeau-c-1017_2960.html">Chèques cadeaux</span>
        </div>
      </div>
      <div class="UTMenu_univer">
        <div class="UTMenu_title UTMenu_title_Lingedemaison"> <div class="puceHeader"></div>
          <a href="/linge-maison-c-56.html" onmouseover="new UTMenu(event);" onmouseout="UTMenu.hasMouse=false;">Linge de maison</a>
        </div>
        <div class="UTMenu_div" onmouseover="UTMenu.hasMouse=true;" onmouseout="UTMenu.hasMouse=false;">
          <div class="UTMenu_div_accueil">
            <a href="/linge-maison-c-56.html">Accueil Linge de maison</a>
          </div><div class="UTMenu_div_marque">
          <a href="/marques-linge-maison-c-56.html">Marques Linge de maison</a>
        </div>
          <a href="/linge-de-lit-c-56_57.html">Linge de lit</a>
          <span u="/literie-deco-c-70_1222.html">Accessoire literie</span>
          <a href="/linge-table-c-56_85.html">Linge de table</a>
          <a href="/linge-toilette-bain-c-56_377.html">Linge de bain</a>
          <a href="/linge-cuisine-c-56_2771.html">Linge de cuisine</a>
          <span u="/coussins-c-65_1167.html">Coussin</span>
          <a href="/housse-c-56_3579.html">Housse</a>
          <a href="/store-rideaux-c-56_2773.html">Store</a>
          <a href="/rideau-voilage-c-56_3309.html">Rideau / Voilage</a>
          <span u="/couettes-oreillers-c-56_424.html">Couette / Oreiller / Traversin</span>
        </div>
      </div>
      <div class="UTMenu_univer">
        <div class="UTMenu_title UTMenu_title_Artsdelatable"> <div class="puceHeader"></div>
          <a href="/arts-table-c-67.html" onmouseover="new UTMenu(event);" onmouseout="UTMenu.hasMouse=false;">Arts de la table</a>
        </div>
        <div class="UTMenu_div" onmouseover="UTMenu.hasMouse=true;" onmouseout="UTMenu.hasMouse=false;">
          <div class="UTMenu_div_accueil">
            <a href="/arts-table-c-67.html">Accueil Arts de la table</a>
          </div><div class="UTMenu_div_marque">
          <a href="/marques-arts-table-c-67.html">Marques Arts de la table</a>
        </div>
          <a href="/la-table-c-67_121.html">Assiette</a>
          <a href="/couvert-c-67_1504.html">Couvert</a>
          <a href="/verre-c-67_1514.html">Verre</a>
          <a href="/plat-c-67_1530.html">Plat</a>
          <span u="/cafetiere-c-3_3320.html">Cafetière</span>
          <a href="/petits-dejeuners-c-67_182.html">Petit déjeuner</a>
          <a href="/aperitifs-cocktails-c-67_280.html">Cocktail / Apéritif</a>
          <a href="/autour-du-vin-c-67_88.html">Oenologie</a>
          <a href="/deco-accessoire-table-c-67_1523.html">Decoration de table</a>
        </div>
      </div>
      <div class="UTMenu_univer">
        <div class="UTMenu_title UTMenu_title_Cuisine"> <div class="puceHeader"></div>
          <a href="/cuisine-c-1289.html" onmouseover="new UTMenu(event);" onmouseout="UTMenu.hasMouse=false;">Cuisine</a>
        </div>
        <div class="UTMenu_div" onmouseover="UTMenu.hasMouse=true;" onmouseout="UTMenu.hasMouse=false;">
          <div class="UTMenu_div_accueil">
            <a href="/cuisine-c-1289.html">Accueil Cuisine</a>
          </div><div class="UTMenu_div_marque">
          <a href="/marques-cuisine-c-1289.html">Marques Cuisine</a>
        </div>
          <a href="/rangement-cuisine-c-1289_3475.html">Rangement de la cuisine</a>
          <a href="/rangement-poussette-marche-c-1289_2755.html">Cabas / Courses</a>
          <a href="/conservation-c-1289_3029.html">Conservation</a>
          <a href="/cuisson-c-1289_2732.html">Cuisson</a>
          <span u="/preparation-culinaire-c-3_17.html">Préparation culinaire</span>
          <a href="/decoration-patisserie-c-1289_2753.html">Matériel de pâtisserie</a>
          <span u="/cafetiere-c-3_3320.html">Cafetière</span>
          <a href="/petits-dejeuners-c-67_182.html">Petit déjeuner</a>
          <a href="/decoupe-planche-decouper-c-1289_2748.html">Couteau / Planche à découper</a>
          <a href="/cuisine-monde-c-1289_1454.html">Cuisine conviviale</a>
          <a href="/plat-c-67_1530.html">Plat</a>
          <a href="/meuble-cuisine-c-68_2583.html">Meuble de cuisine</a>
        </div>
      </div>
      <div class="UTMenu_univer">
        <div class="UTMenu_title UTMenu_title_ElectromeacuteBnager"> <div class="puceHeader"></div>
          <a href="/gros-electromenager-c-1418.html" onmouseover="new UTMenu(event);" onmouseout="UTMenu.hasMouse=false;">Electroménager</a>
        </div>
        <div class="UTMenu_div" onmouseover="UTMenu.hasMouse=true;" onmouseout="UTMenu.hasMouse=false;">
          <div class="UTMenu_div_accueil">
            <a href="/gros-electromenager-c-1418.html">Accueil Electroménager</a>
          </div><div class="UTMenu_div_marque">
          <a href="/marques-gros-electromenager-c-1418.html">Marques Electroménager</a>
        </div>
          <a href="/chauffage-c-1418_522.html">Chauffage d'appoint</a>
          <a href="/caves-a-vin-c-1418_1140.html">Cave à vin</a>
          <a href="/cuisinieres-c-1418_405.html">Cuisinière / Piano</a>
          <a href="/lavelinge-c-1418_390.html">Lave linge</a>
          <a href="/hotte-encastrable-c-1418_1680.html">Hotte aspirante</a>
          <a href="/refrigerateurs-c-1418_398.html">Réfrigérateur</a>
          <a href="/four-encastrable-c-1418_1683.html">Four</a>
          <a href="/table-cuisson-encastrable-c-1418_1679.html">Plaque de cuisson</a>
          <a href="/four-micro-ondes-c-1418_2613.html">Micro ondes</a>
          <a href="/lavevaisselle-c-1418_395.html">Lave vaisselle</a>
          <span u="/evier-cuisine-c-1418_3525.html">Evier de cuisine</span>
          <a href="/congelateurs-c-1418_402.html">Congélateur</a>
          <span u="/soin-linge-c-3_4.html">Repassage / Linge</span>
          <span u="/maison-pratique-c-3_546.html">Entretien maison</span>
          <span u="/aspirateurs-c-3_639.html">Aspirateur</span>
          <a href="/ventilateur-c-1418_3360.html">Ventilateur</a>
          <a href="/climatiseur-ventilateur-c-1418_45.html">Climatiseur</a>
          <a href="/traitement-air-c-1418_2659.html">Traitement air</a>
          <span u="/hygiene-beaute-c-3_1278.html">Hygiène et beauté</span>
          <a href="/accessoire-electromenager-c-1418_2980.html">Accessoire électroménager</a>
        </div>
      </div>
      <div class="UTMenu_univer">
        <div class="UTMenu_title UTMenu_title_Mobilierdejardin"> <div class="puceHeader"></div>
          <a href="/jardin-c-66.html" onmouseover="new UTMenu(event);" onmouseout="UTMenu.hasMouse=false;">Mobilier de jardin</a>
        </div>
        <div class="UTMenu_div" onmouseover="UTMenu.hasMouse=true;" onmouseout="UTMenu.hasMouse=false;">
          <div class="UTMenu_div_accueil">
            <a href="/jardin-c-66.html">Accueil Mobilier de jardin</a>
          </div><div class="UTMenu_div_marque">
          <a href="/marques-jardin-c-66.html">Marques Mobilier de jardin</a>
        </div>
          <a href="/eclairage-jardin-c-66_1619.html">Luminaire extérieur</a>
          <a href="/amenagement-jardin-c-66_814.html">Aménagement du jardin</a>
          <a href="/abris-dexterieur-c-66_569.html">Rangement jardin</a>
          <a href="/jardinage-c-66_3144.html">Jardinage</a>
          <span u="/chauffage-jardin-c-66_3103.html">Chauffage de jardin</span>
          <a href="/cuisine-dete-c-66_3595.html">Cuisine d'été</a>
          <a href="/meubles-jardin-c-66_244.html">Salon de jardin</a>
          <a href="/table-jardin-c-66_2158.html">Table de jardin</a>
          <a href="/chaise-jardin-c-66_2547.html">Chaise de jardin</a>
          <a href="/fauteuil-jardin-banc-c-66_2548.html">Fauteuil de jardin</a>
          <a href="/coin-sieste-c-66_791.html">Chaise longue / Hamac</a>
          <a href="/jardin-enfants-c-585_610.html">Jardin des enfants</a>
          <a href="/tonnelle-voile-c-66_3102.html">Voile parasol et tonnelle</a>
          <a href="/piscine-jardin-c-66_3307.html">Piscine de jardin</a>
          <a href="/decoration-jardin-c-66_3658.html">Décoration du jardin</a>
        </div>
      </div>
      <div class="UTMenu_univer">
        <div class="UTMenu_title UTMenu_title_CanapeacuteBsetfauteuils"> <div class="puceHeader"></div>
          <a href="/canapes-fauteuils-c-1287.html" onmouseover="new UTMenu(event);" onmouseout="UTMenu.hasMouse=false;">Canapés et fauteuils</a>
        </div>
        <div class="UTMenu_div" onmouseover="UTMenu.hasMouse=true;" onmouseout="UTMenu.hasMouse=false;">
          <div class="UTMenu_div_accueil">
            <a href="/canapes-fauteuils-c-1287.html">Accueil Canapés et fauteuils</a>
          </div><div class="UTMenu_div_marque">
          <a href="/marques-canapes-fauteuils-c-1287.html">Marques Canapés et fauteuils</a>
        </div>
          <a href="/canape-c-1287_3109.html">Canapé</a>
          <a href="/canape-convertible-c-1287_3114.html">Canapé convertible</a>
          <a href="/fauteuil-reposepieds-c-1287_1332.html">Fauteuil</a>
        </div>
      </div>
      <div class="UTMenu_univer">
        <div class="UTMenu_title UTMenu_title_Luminaires"> <div class="puceHeader"></div>
          <a href="/luminaires-c-1288.html" onmouseover="new UTMenu(event);" onmouseout="UTMenu.hasMouse=false;">Luminaires</a>
        </div>
        <div class="UTMenu_div" onmouseover="UTMenu.hasMouse=true;" onmouseout="UTMenu.hasMouse=false;">
          <div class="UTMenu_div_accueil">
            <a href="/luminaires-c-1288.html">Accueil Luminaires</a>
          </div><div class="UTMenu_div_marque">
          <a href="/marques-luminaires-c-1288.html">Marques Luminaires</a>
        </div>
          <a href="/eclairage-interieur-c-1288_2790.html">Luminaire intérieur</a>
          <a href="/ampoule-c-1288_1391.html">Ampoule</a>
          <a href="/eclairage-enfant-c-585_1096.html">Luminaire enfant</a>
          <a href="/eclairage-jardin-c-66_1619.html">Luminaire extérieur</a>
        </div>
      </div>
      <div class="UTMenu_univer">
        <div class="UTMenu_title UTMenu_title_Enfants"> <div class="puceHeader"></div>
          <a href="/enfants-c-585.html" onmouseover="new UTMenu(event);" onmouseout="UTMenu.hasMouse=false;">Enfants</a>
        </div>
        <div class="UTMenu_div" onmouseover="UTMenu.hasMouse=true;" onmouseout="UTMenu.hasMouse=false;">
          <div class="UTMenu_div_accueil">
            <a href="/enfants-c-585.html">Accueil Enfants</a>
          </div><div class="UTMenu_div_marque">
          <a href="/marques-enfants-c-585.html">Marques Enfants</a>
        </div>
          <a href="/meubles-enfants-c-585_609.html">Meuble enfant</a>
          <a href="/literie-enfant-c-585_2835.html">Literie enfant</a>
          <a href="/linge-enfants-c-585_588.html">Linge enfant</a>
          <a href="/eclairage-enfant-c-585_1096.html">Luminaire enfant</a>
          <a href="/accessoires-enfants-c-585_616.html">Décoration enfant</a>
          <a href="/pour-table-c-585_617.html">Vaisselle enfant</a>
          <span u="/petit-electromenager-c-585_1376.html">Puériculture</span>
          <a href="/piscine-jardin-c-66_3307.html">Piscine de jardin</a>
          <a href="/jardin-enfants-c-585_610.html">Jardin des enfants</a>
          <a href="/jeux-jouets-c-585_843.html">Jeux / Jouets</a>
        </div>
      </div>
      <div class="UTMenu_univer">
        <div class="UTMenu_title UTMenu_title_Literie"> <div class="puceHeader"></div>
          <a href="/literie-c-70.html" onmouseover="new UTMenu(event);" onmouseout="UTMenu.hasMouse=false;">Literie</a>
        </div>
        <div class="UTMenu_div" onmouseover="UTMenu.hasMouse=true;" onmouseout="UTMenu.hasMouse=false;">
          <div class="UTMenu_div_accueil">
            <a href="/literie-c-70.html">Accueil Literie</a>
          </div><div class="UTMenu_div_marque">
          <a href="/marques-literie-c-70.html">Marques Literie</a>
        </div>
          <a href="/matelas-c-70_208.html">Matelas</a>
          <a href="/sommiers-c-70_212.html">Sommier</a>
          <span u="/literie-deco-c-70_1222.html">Accessoire literie</span>
          <a href="/lit-c-68_3161.html">Lit</a>
        </div>
      </div>
      <div class="UTMenu_univer">
        <div class="UTMenu_title UTMenu_title_VenteprivEe"> <div class="puceHeader"></div>
          <a href="./vente-privee.html" class="relief" onmouseover="new UTMenu(event);" onmouseout="UTMenu.hasMouse=false;">Vente privée</a>
        </div>
        <div class="UTMenu_div" onmouseover="UTMenu.hasMouse=true;" onmouseout="UTMenu.hasMouse=false;"><a href="/meubles-c-68.html#anchor_VF">Meubles</a><a href="/decoration-c-65.html#anchor_VF">Décoration</a><a href="/linge-maison-c-56.html#anchor_VF">Linge de maison</a><a href="/arts-table-c-67.html#anchor_VF">Arts de la table</a><a href="/cuisine-c-1289.html#anchor_VF">Cuisine</a><a href="/gros-electromenager-c-1418.html#anchor_VF">Electroménager</a><a href="/jardin-c-66.html#anchor_VF">Mobilier de jardin</a><a href="/canapes-fauteuils-c-1287.html#anchor_VF">Canapés et fauteuils</a><a href="/luminaires-c-1288.html#anchor_VF">Luminaires</a><a href="/enfants-c-585.html#anchor_VF">Enfants</a><a href="/literie-c-70.html#anchor_VF">Literie</a>
        </div>
      </div>
      <div class="UTMenu_univer">
        <div class="UTMenu_title">
          <div class="puceHeader"></div>
          <a class="relief" href="/styles-tendances.html">Styles</a>
        </div>
      </div>

      <div class="UTMenu_univer">
        <div class="UTMenu_title UTMenu_title_Soldes">
          <div class="puceHeader"></div>
          <a class="relief" href="/vente-soldes.html" style="color:#b30101;">Soldes et promotions</a>
        </div>
      </div>
    </div>
  </div>
  <!--  Fin menuhead -->

  <div id="header_under">

    <!-- Debut content -->
    <div id="pagewrapper">

      <div id="zone_1" style="width: 1000px; height: 469px;">

        <div style="position: absolute; top: 0px; left: 0px; width: 1000px; height: 469px; transform-origin: 0px 0px 0px; transform: scale(1);"><div class="" style="position: relative; top: 0px; left: 0px; overflow: visible;"><div u="slides" class="slides" style="z-index: 0; position: absolute;">
          <div style="width: 1000px; height: 469px; top: 0px; left: 0px; position: absolute; overflow: hidden; display: none;">

            <a href="http://www.delamaison.fr/vente-soldes.html">

              <img u="image" src="http://dl1.dlmcdn.fr/images/main_page/v2/Carrousel_HP/HP_150102_soldesG.jpg" width="1000" height="469" usemap="#map0">

            </a>

            <map name="map0">
              <area shape="rect" coords="384,396,450,434" href="http://www.delamaison.fr/soldes-remise30-o-1_30.html" alt="Voir les Soldes ÃƒÂƒÃ‚ÂƒÃƒÂ‚Ã‚Â&nbsp; -30%"><area shape="rect" coords="466,396,537,434" href="http://www.delamaison.fr/soldes-remise40-o-1_40.html" alt="Voir les Soldes ÃƒÂƒÃ‚ÂƒÃƒÂ‚Ã‚Â&nbsp; -40%"><area shape="rect" coords="552,396,617,434" href="http://www.delamaison.fr/soldes-remise50-o-1_50.html" alt="Voir les Soldes ÃƒÂƒÃ‚ÂƒÃƒÂ‚Ã‚Â&nbsp; -50%"><area shape="rect" coords="634,396,699,434" href="http://www.delamaison.fr/soldes-remise60-o-1_60.html" alt="Voir les Soldes ÃƒÂƒÃ‚ÂƒÃƒÂ‚Ã‚Â&nbsp; -60%"> <area shape="rect" coords="717,396,786,434" href="http://www.delamaison.fr/soldes-remise70-o-1_70.html" alt="Voir les Soldes ÃƒÂ&nbsp; -70%">                </map>
          </div>
          <div style="width: 1000px; height: 469px; top: 0px; left: 0px; position: absolute; overflow: hidden; display: none;">

            <a href="http://www.delamaison.fr/vente-soldes.html">

              <img u="image" src="http://dl1.dlmcdn.fr/images/main_page/v2/Carrousel_HP/HP_150102_soldesMC.jpg" width="1000" height="469" usemap="#map1">

            </a>

            <map name="map1">
              <area shape="rect" coords="219,352,489,438" href="http://www.delamaison.fr/soldes-meubles-o-1-c-68.html" alt="Voir les soldes Meubles jusqu'a -40%"><area shape="rect" coords="511,352,783,438" href="http://www.delamaison.fr/soldes-canapes-et-fauteuils-o-1-c-1287.html" alt="Voir les soldes Canapes jusqu'a -40%">                </map>
          </div>
          <div style="width: 1000px; height: 469px; top: 0px; left: 0px; position: absolute; overflow: hidden; display: none;">

            <a href="http://www.delamaison.fr/vente-soldes.html">

              <img u="image" src="http://dl1.dlmcdn.fr/images/main_page/v2/Carrousel_HP/HP_150102_soldesDL.jpg" width="1000" height="469" usemap="#map2">

            </a>

            <map name="map2">
              <area shape="rect" coords="219,352,489,438" href="http://www.delamaison.fr/soldes-decoration-o-1-c-65.html" alt="Voir les soldes dÃƒÂ©co jusqu'a -50%"><area shape="rect" coords="511,352,783,438" href="http://www.delamaison.fr/soldes-linge-de-maison-o-1-c-56.html" alt="Voir les soldes Linge jusqu'a -45%">                </map>
          </div>
          <div style="width: 1000px; height: 469px; top: 0px; left: 0px; position: absolute; overflow: hidden; display: none;">

            <a href="http://www.delamaison.fr/vente-soldes.html">

              <img u="image" src="http://dl1.dlmcdn.fr/images/main_page/v2/Carrousel_HP/HP_150102_soldesEF.jpg" width="1000" height="469" usemap="#map3">

            </a>

            <map name="map3">
              <area shape="rect" coords="219,352,489,438" href="http://www.delamaison.fr/soldes-gros-electromenager-o-1-c-1418.html" alt="Voir les soldes Electro jusqu'a -50%"><area shape="rect" coords="511,352,783,438" href="http://www.delamaison.fr/soldes-cuisine-o-1-c-1289.html" alt="Voir les soldes Cuisine jusqu'a -45%">                </map>
          </div>
          <div style="width: 1000px; height: 469px; top: 0px; left: 0px; position: absolute; overflow: hidden; display: none;">

            <a href="http://www.delamaison.fr/soldes-remise70-o-1_70.html">

              <img u="image" src="http://dl1.dlmcdn.fr/images/main_page/v2/Carrousel_HP/HP_150102_soldes70.jpg" width="1000" height="469" usemap="#map4">

            </a>

            <map name="map4">
            </map>
          </div>
          <div u="navigator" class="jssorb05">
            <div u="prototype" style="POSITION: absolute; WIDTH: 15px; HEIGHT: 14px;"></div>
          </div>
        <span u="arrowleft" class="jssora12l">
        </span>
        <span u="arrowright" class="jssora12r">
        </span>
          <div style="position: absolute; z-index: 0; left: 0px; top: 0px;"></div></div><div u="slides" class="slides" style="z-index: 0; position: absolute; overflow: hidden;"><div style="width: 1000px; height: 469px; top: 0px; left: 0px; position: absolute; opacity: 0; background-color: rgb(0, 0, 0);"></div>
          <div style="width: 1000px; height: 469px; top: 0px; left: 0px; position: absolute; overflow: hidden; transform: perspective(2000px);">

            <a href="http://www.delamaison.fr/vente-soldes.html" style="transform: perspective(2000px);">

              <img u="image" src="http://dl1.dlmcdn.fr/images/main_page/v2/Carrousel_HP/HP_150102_soldesG.jpg" width="1000" height="469" usemap="#map0" style="transform: perspective(2000px);">

            </a>

            <map name="map0" style="transform: perspective(2000px);">
              <area shape="rect" coords="384,396,450,434" href="http://www.delamaison.fr/soldes-remise30-o-1_30.html" alt="Voir les Soldes ÃƒÂƒÃ‚ÂƒÃƒÂ‚Ã‚Â&nbsp; -30%" style="transform: perspective(2000px);"><area shape="rect" coords="466,396,537,434" href="http://www.delamaison.fr/soldes-remise40-o-1_40.html" alt="Voir les Soldes ÃƒÂƒÃ‚ÂƒÃƒÂ‚Ã‚Â&nbsp; -40%" style="transform: perspective(2000px);"><area shape="rect" coords="552,396,617,434" href="http://www.delamaison.fr/soldes-remise50-o-1_50.html" alt="Voir les Soldes ÃƒÂƒÃ‚ÂƒÃƒÂ‚Ã‚Â&nbsp; -50%" style="transform: perspective(2000px);"><area shape="rect" coords="634,396,699,434" href="http://www.delamaison.fr/soldes-remise60-o-1_60.html" alt="Voir les Soldes ÃƒÂƒÃ‚ÂƒÃƒÂ‚Ã‚Â&nbsp; -60%" style="transform: perspective(2000px);"> <area shape="rect" coords="717,396,786,434" href="http://www.delamaison.fr/soldes-remise70-o-1_70.html" alt="Voir les Soldes ÃƒÂ&nbsp; -70%" style="transform: perspective(2000px);">                </map>
            <div style="width: 1000px; height: 469px; top: 0px; left: 0px; z-index: 1000; display: none;"></div></div>
          <div style="width: 1000px; height: 469px; top: 0px; left: 1000px; position: absolute; overflow: hidden; transform: perspective(2000px);">

            <a href="http://www.delamaison.fr/vente-soldes.html" style="transform: perspective(2000px);">

              <img u="image" src="http://dl1.dlmcdn.fr/images/main_page/v2/Carrousel_HP/HP_150102_soldesMC.jpg" width="1000" height="469" usemap="#map1" style="transform: perspective(2000px);">

            </a>

            <map name="map1" style="transform: perspective(2000px);">
              <area shape="rect" coords="219,352,489,438" href="http://www.delamaison.fr/soldes-meubles-o-1-c-68.html" alt="Voir les soldes Meubles jusqu'a -40%" style="transform: perspective(2000px);"><area shape="rect" coords="511,352,783,438" href="http://www.delamaison.fr/soldes-canapes-et-fauteuils-o-1-c-1287.html" alt="Voir les soldes Canapes jusqu'a -40%" style="transform: perspective(2000px);">                </map>
            <div style="width: 1000px; height: 469px; top: 0px; left: 0px; z-index: 1000; display: none;"></div></div>
          <div style="width: 1000px; height: 469px; top: 0px; left: -1000px; position: absolute; overflow: hidden; transform: perspective(2000px);">

            <a href="http://www.delamaison.fr/vente-soldes.html" style="transform: perspective(2000px);">

              <img u="image" src="http://dl1.dlmcdn.fr/images/main_page/v2/Carrousel_HP/HP_150102_soldesDL.jpg" width="1000" height="469" usemap="#map2" style="transform: perspective(2000px);">

            </a>

            <map name="map2" style="transform: perspective(2000px);">
              <area shape="rect" coords="219,352,489,438" href="http://www.delamaison.fr/soldes-decoration-o-1-c-65.html" alt="Voir les soldes dÃƒÂ©co jusqu'a -50%" style="transform: perspective(2000px);"><area shape="rect" coords="511,352,783,438" href="http://www.delamaison.fr/soldes-linge-de-maison-o-1-c-56.html" alt="Voir les soldes Linge jusqu'a -45%" style="transform: perspective(2000px);">                </map>
            <div style="width: 1000px; height: 469px; top: 0px; left: 0px; z-index: 1000; display: none;"></div></div>
          <div style="width: 1000px; height: 469px; top: 0px; left: -1000px; position: absolute; overflow: hidden; transform: perspective(2000px);">

            <a href="http://www.delamaison.fr/vente-soldes.html" style="transform: perspective(2000px);">

              <img u="image" src="http://dl1.dlmcdn.fr/images/main_page/v2/Carrousel_HP/HP_150102_soldesEF.jpg" width="1000" height="469" usemap="#map3" style="transform: perspective(2000px);">

            </a>

            <map name="map3" style="transform: perspective(2000px);">
              <area shape="rect" coords="219,352,489,438" href="http://www.delamaison.fr/soldes-gros-electromenager-o-1-c-1418.html" alt="Voir les soldes Electro jusqu'a -50%" style="transform: perspective(2000px);"><area shape="rect" coords="511,352,783,438" href="http://www.delamaison.fr/soldes-cuisine-o-1-c-1289.html" alt="Voir les soldes Cuisine jusqu'a -45%" style="transform: perspective(2000px);">                </map>
            <div style="width: 1000px; height: 469px; top: 0px; left: 0px; z-index: 1000; display: none;"></div></div>
          <div style="width: 1000px; height: 469px; top: 0px; left: -1000px; position: absolute; overflow: hidden; transform: perspective(2000px);">

            <a href="http://www.delamaison.fr/soldes-remise70-o-1_70.html" style="transform: perspective(2000px);">

              <img u="image" src="http://dl1.dlmcdn.fr/images/main_page/v2/Carrousel_HP/HP_150102_soldes70.jpg" width="1000" height="469" usemap="#map4" style="transform: perspective(2000px);">

            </a>

            <map name="map4" style="transform: perspective(2000px);">
            </map>
            <div style="width: 1000px; height: 469px; top: 0px; left: 0px; z-index: 1000; display: none;"></div></div>
          <div u="navigator" class="jssorb05" style="width: 115px; height: 14px; left: 442.5px;">

            <div u="prototype" style="position: absolute; width: 15px; height: 14px; left: 0px; top: 0px;" class="av"></div><div u="prototype" style="position: absolute; width: 15px; height: 14px; left: 25px; top: 0px;" class=""></div><div u="prototype" style="position: absolute; width: 15px; height: 14px; left: 50px; top: 0px;" class=""></div><div u="prototype" style="position: absolute; width: 15px; height: 14px; left: 75px; top: 0px;" class=""></div><div u="prototype" style="position: absolute; width: 15px; height: 14px; left: 100px; top: 0px;" class=""></div></div>
        <span u="arrowleft" class="jssora12l" style="display: none;">
        </span>
        <span u="arrowright" class="jssora12r" style="display: none;">
        </span>
        </div></div></div></div>

      <div id="zone_2">
        <a href="http://www.delamaison.fr/vente-soldes.html#push=http://www.delamaison.fr/vente-soldes.htmlhttp://www.delamaison.fr/vente-soldes.html-bkn-" alt="SOLDES" "="">
        <img src="http://dl1.dlmcdn.fr/images/main_page/v2/Breaking_news/Breakingnews_150102_soldes.jpg" width="1000" height="28">
        </a>
      </div>

      <div id="zone_3">
        <div id="zone_3_left">
          <div id="zone_3_left_triangle"></div>
          <span class="zone_3_left_desc"><strong><span style="font-size: 29px;">SOLDES ADDICT </span></strong><span style="font-size: medium;">Les soldes sont lancés et vous ne pourrez plus vous en passer. Petits prix addictifs et promos stylées pour redonner vie à votre maison, des tapis aux suspensions …&nbsp;Accros ? Oui, et sans modération</span></span>
        </div>
        <div id="zone_3_right">
          <a href="http://www.delamaison.fr/vente-privee-luminaires-o-2-c-1288.html#push=0-rd-_LES_OFFRES_ÉBLOUISSANTES" alt="// LES OFFRES ÉBLOUISSANTES">
            <span class="zone_3_title">// LES OFFRES ÉBLOUISSANTES</span>
            <img class="zone_3_image" width="351" height="231" src="http://dl1.dlmcdn.fr/images/main_page/v2/Blocs_offres/BlocoffreD_150105_vp.jpg">
          </a>
        </div>
        <div id="zone_3_center">
          <a href="http://www.delamaison.fr/canape-dangle-microfibre-delphes-chocolat-p-69765.html#p=69768&amp;push=0-rd-_VOUS_NE_RÊVEZ_PAS" alt="// VOUS NE RÊVEZ PAS">
            <span class="zone_3_title">// VOUS NE RÊVEZ PAS</span>
            <img class="zone_3_image" width="340" height="231" src="http://dl1.dlmcdn.fr/images/main_page/v2/Blocs_offres/BlocoffreD_150116_canapedangle.jpg">
          </a>
        </div>
      </div>
      <div id="zone_3_rond"></div>

      <div id="zone_4">
        <h2 class="zone_4_title">La maison à l'heure d'hiver</h2>
        <div id="zone_4_separator"></div>
        <span class="zone_4_desc"></span>
        <div id="zone_4_left">
          <a href="https://www.facebook.com/delamaison.fr/app_603171703028453#push=0-em-collectionMarque_2" alt="shooting">
            <img class="zone_4_left_image" width="489" height="431" src="http://dl1.dlmcdn.fr/images/main_page/v2/Espace_marques/Evenement_150113_jeusoldes.jpg">
            <span class="zone_4_left_desc"><span>Vous avez fait de bonnes affaires pendant les soldes ? Participez à notre grand jeu concours !</span>&nbsp;&gt;&gt;&gt;</span>
          </a>
        </div>
        <div id="zone_4_right">
          <a href="http://www.delamaison.fr/kaligrafik-m-773-c-67.html#corner&amp;push=0-em-visuelMarque_3" alt="KALIGRAFIK L'ESPRIT SCANDINAVE \\\\\\\\\\\\\\\\\\\\\\\\\">
            <span class="zone_4_right_title">KALIGRAFIK L'ESPRIT SCANDINAVE \\\\\\\\\\\\\\\\\\\\\\\\\</span>
            <img class="zone_4_right_image" width="489" height="309" src="http://dl1.dlmcdn.fr/images/main_page/v2/Espace_marques/Marque_141126_kaligrafik.jpg">
            <span class="zone_4_right_desc"><span style="font-size: 16px; font-weight: bold;"><span><span><span>LA MARQUE DÉCO POUR LA MAISON&nbsp;!</span></span></span></span><br>La marque&nbsp;<strong>kaligrafik</strong>&nbsp;vous propose des produits actuels et tendances aux formes géométriques et épurées, qui apportent la touche déco à votre intérieur. Art de la table, linge, tapis, meubles ou fauteuils, les collections se déclinent dans des tonalités tendances et des lignes sobres, scandinave ou rétro. Plus qu’un style, kaligrafik est une marque déco pour tous ceux qui vivent avec leur temps.</span>
          </a>
        </div>
        <div id="zone_4_carousel" style="width: 1000px; height: 50px;">



          <div style="position: absolute; top: 0px; left: 0px; width: 1000px; height: 50px; transform-origin: 0px 0px 0px; transform: scale(1);"><div class="" style="position: relative; top: 0px; left: 0px; overflow: visible;"><div u="slides" class="slides" style="z-index: 0; position: absolute;">
            <div style="width: 89px; height: 50px; top: 0px; left: 0px; position: absolute; overflow: hidden; display: none;">
              <a href="amadeus-m-33-c-65.html#push=0-em-CarrouselMarque_4" alt="Amadeus">
                <img u="image" class="carousel_mark" src="http://dl2.dlmcdn.fr/images/marques_v2/cadesamadeus/amadeus_HP_black.jpg" width="89" height="50">
              </a>
            </div>
            <div style="width: 89px; height: 50px; top: 0px; left: 0px; position: absolute; overflow: hidden; display: none;">
              <a href="http://www.delamaison.fr/axe-design-m-515-c-68.html#push=0-em-CarrouselMarque_4" alt="Axe design">
                <img u="image" class="carousel_mark" src="http://dl1.dlmcdn.fr/images/marques_v2/axedesign/axedesign_HP_black.jpg" width="89" height="50">
              </a>
            </div>
            <div style="width: 89px; height: 50px; top: 0px; left: 0px; position: absolute; overflow: hidden; display: none;">
              <a href="http://www.delamaison.fr/tema-home-m-210-c-68.html#push=0-em-CarrouselMarque_4" alt="Temahome">
                <img u="image" class="carousel_mark" src="http://dl2.dlmcdn.fr/images/marques_v2/tema/temahome_HP_black.jpg" width="89" height="50">
              </a>
            </div>
            <div style="width: 89px; height: 50px; top: 0px; left: 0px; position: absolute; overflow: hidden; display: none;">
              <a href="http://www.delamaison.fr/blanc-vosges-m-151-c-56.html#push=0-em-CarrouselMarque_4" alt="Blanc des vosges">
                <img u="image" class="carousel_mark" src="http://dl1.dlmcdn.fr/images/marques_v2/blancdesvosges/blancvosges_HP_black.jpg" width="89" height="50">
              </a>
            </div>
            <div style="width: 89px; height: 50px; top: 0px; left: 0px; position: absolute; overflow: hidden; display: none;">
              <a href="http://www.delamaison.fr/weber-m-145-c-66.html#push=0-em-CarrouselMarque_4" alt="Weber">
                <img u="image" class="carousel_mark" src="http://dl1.dlmcdn.fr/images/marques_v2/weber/weber_HP_black.jpg" width="89" height="50">
              </a>
            </div>
            <div style="width: 89px; height: 50px; top: 0px; left: 0px; position: absolute; overflow: hidden; display: none;">
              <a href="http://www.delamaison.fr/revol-m-615-c-1289.html#push=0-em-CarrouselMarque_4" alt="Revol">
                <img u="image" class="carousel_mark" src="http://dl1.dlmcdn.fr/images/marques_v2/revol/revol_HP_black.jpg" width="89" height="50">
              </a>
            </div>
            <div style="width: 89px; height: 50px; top: 0px; left: 0px; position: absolute; overflow: hidden; display: none;">
              <a href="http://www.delamaison.fr/tefal-m-187-c-3.html#push=0-em-CarrouselMarque_4" alt="Tefal">
                <img u="image" class="carousel_mark" src="http://dl2.dlmcdn.fr/images/marques_v2/tefal/tefal_HP_black.jpg" width="89" height="50">
              </a>
            </div>
            <div style="width: 89px; height: 50px; top: 0px; left: 0px; position: absolute; overflow: hidden; display: none;">
              <a href="http://www.delamaison.fr/dunlopillo-m-194-c-70.html#push=0-em-CarrouselMarque_4" alt="Dunlopillo">
                <img u="image" class="carousel_mark" src="http://dl2.dlmcdn.fr/images/marques_v2/dunlopillo/dunlopillo_HP_black.jpg" width="89" height="50">
              </a>
            </div>
            <div style="width: 89px; height: 50px; top: 0px; left: 0px; position: absolute; overflow: hidden; display: none;">
              <a href="http://www.delamaison.fr/silea-m-242-c-65.html#push=0-em-CarrouselMarque_4" alt="Silea">
                <img u="image" class="carousel_mark" src="http://dl1.dlmcdn.fr/images/marques_v2/silea/silea_HP_black.jpg" width="89" height="50">
              </a>
            </div>
            <div style="width: 89px; height: 50px; top: 0px; left: 0px; position: absolute; overflow: hidden; display: none;">
              <a href="http://www.delamaison.fr/eglo-m-322-c-1288.html#push=0-em-CarrouselMarque_4" alt="eglo">
                <img u="image" class="carousel_mark" src="http://dl2.dlmcdn.fr/images/marques_v2/eglo/eglo_HP_black.jpg" width="89" height="50">
              </a>
            </div>
            <div style="width: 89px; height: 50px; top: 0px; left: 0px; position: absolute; overflow: hidden; display: none;">
              <a href="http://www.delamaison.fr/bultex-m-32-c-70.html#push=0-em-CarrouselMarque_4" alt="bultex">
                <img u="image" class="carousel_mark" src="http://dl1.dlmcdn.fr/images/marques_v2/bultex/bultex_HP_black.jpg" width="89" height="50">
              </a>
            </div>
            <div style="width: 89px; height: 50px; top: 0px; left: 0px; position: absolute; overflow: hidden; display: none;">
              <a href="http://www.delamaison.fr/home-spirit-m-121-c-1287.html#push=0-em-CarrouselMarque_4" alt="home spirit">
                <img u="image" class="carousel_mark" src="http://dl1.dlmcdn.fr/images/marques_v2/homespirit/homespirit_HP_black.jpg" width="89" height="50">
              </a>
            </div>
            <div style="width: 89px; height: 50px; top: 0px; left: 0px; position: absolute; overflow: hidden; display: none;">
              <a href="http://www.delamaison.fr/descamps-m-246-c-56.html#push=0-em-CarrouselMarque_4" alt="descamps">
                <img u="image" class="carousel_mark" src="http://dl1.dlmcdn.fr/images/marques_v2/descamps/descamps_HP_black.jpg" width="89" height="50">
              </a>
            </div>
            <div style="position: absolute; z-index: 0; left: 0px; top: 0px;"></div></div><div u="slides" class="slides" style="z-index: 0; position: absolute; overflow: hidden;"><div style="width: 89px; height: 50px; top: 0px; left: 0px; position: absolute; opacity: 0; background-color: rgb(0, 0, 0);"></div>
            <div style="width: 89px; height: 50px; top: 0px; left: 0px; position: absolute; overflow: hidden; transform: perspective(2000px);">
              <a href="amadeus-m-33-c-65.html#push=0-em-CarrouselMarque_4" alt="Amadeus" style="transform: perspective(2000px);">
                <img u="image" class="carousel_mark" src="http://dl2.dlmcdn.fr/images/marques_v2/cadesamadeus/amadeus_HP_black.jpg" width="89" height="50" style="transform: perspective(2000px);">
              </a>
              <div style="width: 89px; height: 50px; top: 0px; left: 0px; z-index: 1000; display: none;"></div></div>
            <div style="width: 89px; height: 50px; top: 0px; left: 89px; position: absolute; overflow: hidden; transform: perspective(2000px);">
              <a href="http://www.delamaison.fr/axe-design-m-515-c-68.html#push=0-em-CarrouselMarque_4" alt="Axe design" style="transform: perspective(2000px);">
                <img u="image" class="carousel_mark" src="http://dl1.dlmcdn.fr/images/marques_v2/axedesign/axedesign_HP_black.jpg" width="89" height="50" style="transform: perspective(2000px);">
              </a>
              <div style="width: 89px; height: 50px; top: 0px; left: 0px; z-index: 1000; display: none;"></div></div>
            <div style="width: 89px; height: 50px; top: 0px; left: 178px; position: absolute; overflow: hidden; transform: perspective(2000px);">
              <a href="http://www.delamaison.fr/tema-home-m-210-c-68.html#push=0-em-CarrouselMarque_4" alt="Temahome" style="transform: perspective(2000px);">
                <img u="image" class="carousel_mark" src="http://dl2.dlmcdn.fr/images/marques_v2/tema/temahome_HP_black.jpg" width="89" height="50" style="transform: perspective(2000px);">
              </a>
              <div style="width: 89px; height: 50px; top: 0px; left: 0px; z-index: 1000; display: none;"></div></div>
            <div style="width: 89px; height: 50px; top: 0px; left: 267px; position: absolute; overflow: hidden; transform: perspective(2000px);">
              <a href="http://www.delamaison.fr/blanc-vosges-m-151-c-56.html#push=0-em-CarrouselMarque_4" alt="Blanc des vosges" style="transform: perspective(2000px);">
                <img u="image" class="carousel_mark" src="http://dl1.dlmcdn.fr/images/marques_v2/blancdesvosges/blancvosges_HP_black.jpg" width="89" height="50" style="transform: perspective(2000px);">
              </a>
              <div style="width: 89px; height: 50px; top: 0px; left: 0px; z-index: 1000; display: none;"></div></div>
            <div style="width: 89px; height: 50px; top: 0px; left: 356px; position: absolute; overflow: hidden; transform: perspective(2000px);">
              <a href="http://www.delamaison.fr/weber-m-145-c-66.html#push=0-em-CarrouselMarque_4" alt="Weber" style="transform: perspective(2000px);">
                <img u="image" class="carousel_mark" src="http://dl1.dlmcdn.fr/images/marques_v2/weber/weber_HP_black.jpg" width="89" height="50" style="transform: perspective(2000px);">
              </a>
              <div style="width: 89px; height: 50px; top: 0px; left: 0px; z-index: 1000; display: none;"></div></div>
            <div style="width: 89px; height: 50px; top: 0px; left: 445px; position: absolute; overflow: hidden; transform: perspective(2000px);">
              <a href="http://www.delamaison.fr/revol-m-615-c-1289.html#push=0-em-CarrouselMarque_4" alt="Revol" style="transform: perspective(2000px);">
                <img u="image" class="carousel_mark" src="http://dl1.dlmcdn.fr/images/marques_v2/revol/revol_HP_black.jpg" width="89" height="50" style="transform: perspective(2000px);">
              </a>
              <div style="width: 89px; height: 50px; top: 0px; left: 0px; z-index: 1000; display: none;"></div></div>
            <div style="width: 89px; height: 50px; top: 0px; left: 534px; position: absolute; overflow: hidden; transform: perspective(2000px);">
              <a href="http://www.delamaison.fr/tefal-m-187-c-3.html#push=0-em-CarrouselMarque_4" alt="Tefal" style="transform: perspective(2000px);">
                <img u="image" class="carousel_mark" src="http://dl2.dlmcdn.fr/images/marques_v2/tefal/tefal_HP_black.jpg" width="89" height="50" style="transform: perspective(2000px);">
              </a>
              <div style="width: 89px; height: 50px; top: 0px; left: 0px; z-index: 1000; display: none;"></div></div>
            <div style="width: 89px; height: 50px; top: 0px; left: 623px; position: absolute; overflow: hidden; transform: perspective(2000px);">
              <a href="http://www.delamaison.fr/dunlopillo-m-194-c-70.html#push=0-em-CarrouselMarque_4" alt="Dunlopillo" style="transform: perspective(2000px);">
                <img u="image" class="carousel_mark" src="http://dl2.dlmcdn.fr/images/marques_v2/dunlopillo/dunlopillo_HP_black.jpg" width="89" height="50" style="transform: perspective(2000px);">
              </a>
              <div style="width: 89px; height: 50px; top: 0px; left: 0px; z-index: 1000; display: none;"></div></div>
            <div style="width: 89px; height: 50px; top: 0px; left: 712px; position: absolute; overflow: hidden; transform: perspective(2000px);">
              <a href="http://www.delamaison.fr/silea-m-242-c-65.html#push=0-em-CarrouselMarque_4" alt="Silea" style="transform: perspective(2000px);">
                <img u="image" class="carousel_mark" src="http://dl1.dlmcdn.fr/images/marques_v2/silea/silea_HP_black.jpg" width="89" height="50" style="transform: perspective(2000px);">
              </a>
              <div style="width: 89px; height: 50px; top: 0px; left: 0px; z-index: 1000; display: none;"></div></div>
            <div style="width: 89px; height: 50px; top: 0px; left: 801px; position: absolute; overflow: hidden; transform: perspective(2000px);">
              <a href="http://www.delamaison.fr/eglo-m-322-c-1288.html#push=0-em-CarrouselMarque_4" alt="eglo" style="transform: perspective(2000px);">
                <img u="image" class="carousel_mark" src="http://dl2.dlmcdn.fr/images/marques_v2/eglo/eglo_HP_black.jpg" width="89" height="50" style="transform: perspective(2000px);">
              </a>
              <div style="width: 89px; height: 50px; top: 0px; left: 0px; z-index: 1000; display: none;"></div></div>
            <div style="width: 89px; height: 50px; top: 0px; left: 890px; position: absolute; overflow: hidden; transform: perspective(2000px);">
              <a href="http://www.delamaison.fr/bultex-m-32-c-70.html#push=0-em-CarrouselMarque_4" alt="bultex" style="transform: perspective(2000px);">
                <img u="image" class="carousel_mark" src="http://dl1.dlmcdn.fr/images/marques_v2/bultex/bultex_HP_black.jpg" width="89" height="50" style="transform: perspective(2000px);">
              </a>
              <div style="width: 89px; height: 50px; top: 0px; left: 0px; z-index: 1000; display: none;"></div></div>
            <div style="width: 89px; height: 50px; top: 0px; left: 979px; position: absolute; overflow: hidden; transform: perspective(2000px);">
              <a href="http://www.delamaison.fr/home-spirit-m-121-c-1287.html#push=0-em-CarrouselMarque_4" alt="home spirit" style="transform: perspective(2000px);">
                <img u="image" class="carousel_mark" src="http://dl1.dlmcdn.fr/images/marques_v2/homespirit/homespirit_HP_black.jpg" width="89" height="50" style="transform: perspective(2000px);">
              </a>
              <div style="width: 89px; height: 50px; top: 0px; left: 0px; z-index: 1000; display: none;"></div></div>
            <div style="width: 89px; height: 50px; top: 0px; left: -89px; position: absolute; overflow: hidden; transform: perspective(2000px);">
              <a href="http://www.delamaison.fr/descamps-m-246-c-56.html#push=0-em-CarrouselMarque_4" alt="descamps" style="transform: perspective(2000px);">
                <img u="image" class="carousel_mark" src="http://dl1.dlmcdn.fr/images/marques_v2/descamps/descamps_HP_black.jpg" width="89" height="50" style="transform: perspective(2000px);">
              </a>
              <div style="width: 89px; height: 50px; top: 0px; left: 0px; z-index: 1000; display: none;"></div></div>
          </div><span u="arrowleft" class="jssora12l">
        </span><span u="arrowright" class="jssora12r">
        </span></div></div></div>
        <div id="zone_4_carousel_link">
          <a class="zone_4_carousel_link_title" href="/marques.html" target="_blank">Voir la liste</a>
        </div>
      </div>

      <div id="zone_5" class="zone_5" style="display: block;">
        <div class="wsbPublishingZone" id="wsbPZ_ZH1" data-wsb-used="true"><div id="products_recommandation" style="opacity: 1;"><h2>Les bons plans Delamaison, c'est par ici !</h2><div id="zone_5_separator"></div><div id="wsbR_O92679@2002091000235-1000235@ZH1" class="wsbRecommendation product products_recommandation_line">
          <a href="http://www.delamaison.fr/matelas-ressorts-airspring-hauteur-22cm-neptune-neptune-p-92677.html#p=92679">
            <div class="products_recommandation_image">
              <img src="http://dl1.dlmcdn.fr/images/catalogue/1160/SMA1160511-M.jpg" data-original="http://dl1.dlmcdn.fr/images/catalogue/1160/SMA1160511-M.jpg" alt="Matelas Treca ressorts Airspring 22cm NEPTUNE" style="display: inline;">
              <noscript>&lt;img src="http://dl1.dlmcdn.fr/images/catalogue/1160/SMA1160511-M.jpg"/&gt;</noscript>
            </div>
            <div class="products_recommandation_marque_nom">
              <div class="products_recommandation_manufacturer">- Treca -</div>
              <div class="products_recommandation_nom">Matelas Treca ressorts Airspring 22cm NEPTUNE</div>
              <div class="products_recommandation_option">140x190cm </div>
              <div class="products_recommandation_prix">
                <div class="product_prix_barre">au lieu de<br>
                  <span class="price">479&nbsp;€<sup>00</sup></span>
                </div>
            <span class="product_prix_promo">
                <span class="price">465&nbsp;€<sup>00</sup></span>
            </span>
              </div>
            </div>
          </a>
        </div><div id="wsbR_O44698@1619-66@ZH1" class="wsbRecommendation product products_recommandation_line">
          <a href="http://www.delamaison.fr/balise-solaire-h58cm-blanches-p-44698.html">
            <div class="products_recommandation_image">
              <img src="http://dl1.dlmcdn.fr/images/catalogue/1269/JLU1269012-M.jpg" data-original="http://dl1.dlmcdn.fr/images/catalogue/1269/JLU1269012-M.jpg" alt="Balise solaire - H58cm - 10 LED blanches" style="display: inline;">
              <noscript>&lt;img src="http://dl1.dlmcdn.fr/images/catalogue/1269/JLU1269012-M.jpg"/&gt;</noscript>
            </div>
            <div class="products_recommandation_marque_nom">
              <div class="products_recommandation_manufacturer">- Galix -</div>
              <div class="products_recommandation_nom">Balise solaire - H58cm - 10 LED blanches</div>
              <div class="products_recommandation_option"> </div>
              <div class="products_recommandation_prix">
                <div class="product_prix_barre">au lieu de<br>
                  <span class="price">26&nbsp;€<sup>99</sup></span>
                </div>
            <span class="product_prix_promo">
                <span class="price">19&nbsp;€<sup>99</sup></span>
            </span>
              </div>
            </div>
          </a>
        </div><div id="wsbR_O143545@1000406-100000@ZH1" class="wsbRecommendation product products_recommandation_line">
          <a href="http://www.delamaison.fr/spatule-skottel-chef-braaistyle-nylon-p-143545.html">
            <div class="products_recommandation_image">
              <img src="http://dl2.dlmcdn.fr/images/catalogue/7058/JAB7058031-M.jpg" data-original="http://dl2.dlmcdn.fr/images/catalogue/7058/JAB7058031-M.jpg" alt="Spatule Skottel magnétique CHEF BRAAISTYLE Nylon" style="display: inline;">
              <noscript>&lt;img src="http://dl2.dlmcdn.fr/images/catalogue/7058/JAB7058031-M.jpg"/&gt;</noscript>
            </div>
            <div class="products_recommandation_marque_nom">
              <div class="products_recommandation_manufacturer">- CADAC -</div>
              <div class="products_recommandation_nom">Spatule Skottel magnétique CHEF BRAAISTYLE Nylon</div>
              <div class="products_recommandation_option"> </div>
              <div class="products_recommandation_prix">
                <div class="product_prix_barre">au lieu de<br>
                  <span class="price">9&nbsp;€<sup>95</sup></span>
                </div>
            <span class="product_prix_promo">
                <span class="price">7&nbsp;€<sup>25</sup></span>
            </span>
              </div>
            </div>
          </a>
        </div><div id="wsbR_O84125@1000176-100000@ZH1" class="wsbRecommendation product products_recommandation_line">
          <a href="http://www.delamaison.fr/boites-rangement-carton-40x31cm-city-country-p-84125.html">
            <div class="products_recommandation_image">
              <img src="http://dl1.dlmcdn.fr/images/catalogue/4007/DRA4007148-M.jpg" data-original="http://dl1.dlmcdn.fr/images/catalogue/4007/DRA4007148-M.jpg" alt="Boîtes de rangement carton 40x31cm City COUNTRY" style="display: inline;">
              <noscript>&lt;img src="http://dl1.dlmcdn.fr/images/catalogue/4007/DRA4007148-M.jpg"/&gt;</noscript>
            </div>
            <div class="products_recommandation_marque_nom">
              <div class="products_recommandation_manufacturer">- Clementina frog -</div>
              <div class="products_recommandation_nom">Boîtes de rangement carton 40x31cm City COUNTRY</div>
              <div class="products_recommandation_option"> </div>
              <div class="products_recommandation_prix">
                <div class="product_prix_barre">au lieu de<br>
                  <span class="price">9&nbsp;€<sup>90</sup></span>
                </div>
            <span class="product_prix_promo">
                <span class="price">4&nbsp;€<sup>95</sup></span>
            </span>
              </div>
            </div>
          </a>
        </div><div id="wsbR_O53318@3377-157@ZH1" class="wsbRecommendation product products_recommandation_line last-child">
          <a href="http://www.delamaison.fr/meuble-niche2-tiroirs-cosmos-teck-grise-p-53318.html">
            <div class="products_recommandation_image">
              <img src="http://dl1.dlmcdn.fr/images/catalogue/1221/MRA1221163-M.jpg" data-original="http://dl1.dlmcdn.fr/images/catalogue/1221/MRA1221163-M.jpg" alt="Meuble TV Teck Grisé avec 1 niche + 2 tiroirs - L130xP50xH46 cm - COSMOS" style="display: inline;">
              <noscript>&lt;img src="http://dl1.dlmcdn.fr/images/catalogue/1221/MRA1221163-M.jpg"/&gt;</noscript>
            </div>
            <div class="products_recommandation_marque_nom">
              <div class="products_recommandation_manufacturer">- Zago -</div>
              <div class="products_recommandation_nom">Meuble TV Teck Grisé avec 1 niche + 2 tiroirs - L130xP50xH46 cm - COSMOS</div>
              <div class="products_recommandation_option"> </div>
              <div class="products_recommandation_prix">
                <div class="product_prix_barre">au lieu de<br>
                  <span class="price">439&nbsp;€<sup>00</sup></span>
                </div>
            <span class="product_prix_promo">
                <span class="price">265&nbsp;€<sup>00</sup></span>
            </span>
              </div>
            </div>
          </a>
        </div></div></div></div>

      <div id="zone_6">
        <h2 class="zone_6_title">Pendant ce temps... dans le monde de la déco</h2>
        <div id="zone_6_separator"></div>
        <div id="zone_6_carousel" style="width: 1000px; height: 232px;">



          <div style="position: absolute; top: 0px; left: 0px; width: 1000px; height: 232px; transform-origin: 0px 0px 0px; transform: scale(1);"><div class="" style="position: relative; top: 0px; left: 0px; overflow: visible;"><div u="slides" class="slides" style="z-index: 0; position: absolute;">
            <div style="width: 215px; height: 232px; top: 0px; left: 0px; position: absolute; overflow: hidden; display: none;">
              <a href="http://blog-deco-delamaison.fr/reportages/visite-privee/visite-privee-une-renovation-chic-et-graphique/#push=0-ci-Visite_privée_6" alt="Visite privée">
                <img u="image" width="215" height="232" src="http://dl1.dlmcdn.fr/images/main_page/v2/Actu_deco/Actudeco_150112_visite.jpg">
                <div u="caption" class="caption" t="*">Rénovation d'un appartement par Tony Lemâle<span class="captionBold"> Voir &gt;</span></div>
              </a>

            </div>
            <div style="width: 215px; height: 232px; top: 0px; left: 0px; position: absolute; overflow: hidden; display: none;">
              <a href="http://blog-deco-delamaison.fr/explorer/decoration-luminaires/rechauffer-lambiance-grace-aux-luminaires#push=0-ci-Parole_d'expert_6" alt="Parole d'expert" target="_blank">
                <img u="image" width="215" height="232" src="http://dl1.dlmcdn.fr/images/main_page/v2/Actu_deco/Actudeco_141209_tendance.jpg">
                <div u="caption" class="caption" t="*"><span>Mise en lumière avec </span><span>Nicolas Stadler !</span><span class="captionBold"> Voir &gt;</span></div>
              </a>

            </div>
            <div style="width: 215px; height: 232px; top: 0px; left: 0px; position: absolute; overflow: hidden; display: none;">
              <a href="http://blog-deco-delamaison.fr/inspirations/tendances/la-couleur-du-mois-le-blanc/#push=0-ci-Couleur_du_mois_6" alt="Couleur du mois" target="_blank">
                <img u="image" width="215" height="232" src="http://dl1.dlmcdn.fr/images/main_page/v2/Actu_deco/Actudeco_150116_blanc.jpg">
                <div u="caption" class="caption" t="*"><span>Le blanc dans la maison, décrypté par C. Filoche <strong>Voir &gt;</strong></span><p></p>
                  <p>&nbsp;</p>
                  <p>&nbsp;</p>
                  <p>&nbsp;</p>
                  <p>&nbsp;</p>
                  <p>&nbsp;</p>
                  <p>&nbsp;</p>
                  <p>&nbsp;<span class="captionBold"> Voir &gt;</span></p></div>
              </a>

            </div>
            <div style="width: 215px; height: 232px; top: 0px; left: 0px; position: absolute; overflow: hidden; display: none;">
              <a href="http://blog-deco-delamaison.fr/explorer/literie/5-questions-a-gerard-delautre-specialiste-literie/#push=0-ci-Interview_6" alt="Interview" target="_blank">
                <img u="image" width="215" height="232" src="http://dl1.dlmcdn.fr/images/main_page/v2/Actu_deco/Actudeco_141224_literie.jpg">
                <div u="caption" class="caption" t="*">5 questions à Gérard Delautre, spécialiste literie<span class="captionBold"> Voir &gt;</span></div>
              </a>

            </div>
            <div style="width: 215px; height: 232px; top: 0px; left: 0px; position: absolute; overflow: hidden; display: none;">
              <a href="http://blog-deco-delamaison.fr/explorer/linge-de-maison/bien-choisir-son-linge-de-maison/#push=0-ci-Astuces_Déco_6" alt="Astuces Déco" target="_blank">
                <img u="image" width="215" height="232" src="http://dl1.dlmcdn.fr/images/main_page/v2/Actu_deco/Actudeco_141224_linge.jpg">
                <div u="caption" class="caption" t="*"><span>Anne </span><span>Swynghedauw</span><span> vous conseille… <strong>Voir &gt;</strong></span><p></p>
                  <p>&nbsp;</p>
                  <p>&nbsp;</p>
                  <p>&nbsp;</p>
                  <p>&nbsp;</p>
                  <p>&nbsp;<span class="captionBold"> Voir &gt;</span></p></div>
              </a>

            </div>
            <div style="width: 215px; height: 232px; top: 0px; left: 0px; position: absolute; overflow: hidden; display: none;">
              <a href="http://blog-deco-delamaison.fr/inspirations/tendances/art-de-vivre-a-la-scandinave-la-simplicite-avant-tout/#push=0-ci-Décryptage_6" alt="Décryptage" target="_blank">
                <img u="image" width="215" height="232" src="http://dl1.dlmcdn.fr/images/main_page/v2/Actu_deco/Actudeco_141127_decryptage.jpg">
                <div u="caption" class="caption" t="*"><span>Découvrez le style scandinave avec </span><span>Pernille</span><span> </span><span>Picherit <strong>Voir &gt;</strong></span><p></p>
                  <p>&nbsp;</p>
                  <p>&nbsp;</p>
                  <p>&nbsp;</p>
                  <p>&nbsp;</p>
                  <p>&nbsp;</p>
                  <p>&nbsp;</p>
                  <p>&nbsp;</p>
                  <p>&nbsp;</p>
                  <p>&nbsp;</p>
                  <p>&nbsp;<span class="captionBold"> Voir &gt;</span></p></div>
              </a>

            </div>
            <div style="width: 215px; height: 232px; top: 0px; left: 0px; position: absolute; overflow: hidden; display: none;">
              <a href="http://blog-deco-delamaison.fr/explorer/meubles-canapes/le-canape-fait-salon/#push=0-ci-Wishlist_6" alt="Wishlist" target="_blank">
                <img u="image" width="215" height="232" src="http://dl1.dlmcdn.fr/images/main_page/v2/Actu_deco/Actudeco_141027_wishlist.jpg">
                <div u="caption" class="caption" t="*"><span>Une sélection canapés par Karine&nbsp;</span><span>Quédreux</span><span class="captionBold"> Voir &gt;</span></div>
              </a>

            </div>
            <div style="position: absolute; z-index: 0; left: 0px; top: 0px;"></div></div><div u="slides" class="slides" style="z-index: 0; position: absolute; overflow: hidden;"><div style="width: 215px; height: 232px; top: 0px; left: 0px; position: absolute; opacity: 0; background-color: rgb(0, 0, 0);"></div>
            <div style="width: 215px; height: 232px; top: 0px; left: 0px; position: absolute; overflow: hidden; transform: perspective(2000px);">
              <a href="http://blog-deco-delamaison.fr/reportages/visite-privee/visite-privee-une-renovation-chic-et-graphique/#push=0-ci-Visite_privée_6" alt="Visite privée" style="transform: perspective(2000px);">
                <img u="image" width="215" height="232" src="http://dl1.dlmcdn.fr/images/main_page/v2/Actu_deco/Actudeco_150112_visite.jpg" style="transform: perspective(2000px);">
                <div u="caption" class="caption" t="*" style="transform: perspective(2000px);">Rénovation d'un appartement par Tony Lemâle<span class="captionBold" style="transform: perspective(2000px);"> Voir &gt;</span></div>
              </a>

              <div style="width: 215px; height: 232px; top: 0px; left: 0px; z-index: 1000; display: none;"></div></div>
            <div style="width: 215px; height: 232px; top: 0px; left: 229px; position: absolute; overflow: hidden; transform: perspective(2000px);">
              <a href="http://blog-deco-delamaison.fr/explorer/decoration-luminaires/rechauffer-lambiance-grace-aux-luminaires#push=0-ci-Parole_d'expert_6" alt="Parole d'expert" target="_blank" style="transform: perspective(2000px);">
                <img u="image" width="215" height="232" src="http://dl1.dlmcdn.fr/images/main_page/v2/Actu_deco/Actudeco_141209_tendance.jpg" style="transform: perspective(2000px);">
                <div u="caption" class="caption" t="*" style="transform: perspective(2000px);"><span style="transform: perspective(2000px);">Mise en lumière avec </span><span style="transform: perspective(2000px);">Nicolas Stadler !</span><span class="captionBold" style="transform: perspective(2000px);"> Voir &gt;</span></div>
              </a>

              <div style="width: 215px; height: 232px; top: 0px; left: 0px; z-index: 1000; display: none;"></div></div>
            <div style="width: 215px; height: 232px; top: 0px; left: 458px; position: absolute; overflow: hidden; transform: perspective(2000px);">
              <a href="http://blog-deco-delamaison.fr/inspirations/tendances/la-couleur-du-mois-le-blanc/#push=0-ci-Couleur_du_mois_6" alt="Couleur du mois" target="_blank" style="transform: perspective(2000px);">
                <img u="image" width="215" height="232" src="http://dl1.dlmcdn.fr/images/main_page/v2/Actu_deco/Actudeco_150116_blanc.jpg" style="transform: perspective(2000px);">
                <div u="caption" class="caption" t="*" style="transform: perspective(2000px);"><span style="transform: perspective(2000px);">Le blanc dans la maison, décrypté par C. Filoche <strong style="transform: perspective(2000px);">Voir &gt;</strong></span><p style="transform: perspective(2000px);"></p>
                  <p style="transform: perspective(2000px);">&nbsp;</p>
                  <p style="transform: perspective(2000px);">&nbsp;</p>
                  <p style="transform: perspective(2000px);">&nbsp;</p>
                  <p style="transform: perspective(2000px);">&nbsp;</p>
                  <p style="transform: perspective(2000px);">&nbsp;</p>
                  <p style="transform: perspective(2000px);">&nbsp;</p>
                  <p style="transform: perspective(2000px);">&nbsp;<span class="captionBold" style="transform: perspective(2000px);"> Voir &gt;</span></p></div>
              </a>

              <div style="width: 215px; height: 232px; top: 0px; left: 0px; z-index: 1000; display: none;"></div></div>
            <div style="width: 215px; height: 232px; top: 0px; left: 687px; position: absolute; overflow: hidden; transform: perspective(2000px);">
              <a href="http://blog-deco-delamaison.fr/explorer/literie/5-questions-a-gerard-delautre-specialiste-literie/#push=0-ci-Interview_6" alt="Interview" target="_blank" style="transform: perspective(2000px);">
                <img u="image" width="215" height="232" src="http://dl1.dlmcdn.fr/images/main_page/v2/Actu_deco/Actudeco_141224_literie.jpg" style="transform: perspective(2000px);">
                <div u="caption" class="caption" t="*" style="transform: perspective(2000px);">5 questions à Gérard Delautre, spécialiste literie<span class="captionBold" style="transform: perspective(2000px);"> Voir &gt;</span></div>
              </a>

              <div style="width: 215px; height: 232px; top: 0px; left: 0px; z-index: 1000; display: none;"></div></div>
            <div style="width: 215px; height: 232px; top: 0px; left: 916px; position: absolute; overflow: hidden; transform: perspective(2000px);">
              <a href="http://blog-deco-delamaison.fr/explorer/linge-de-maison/bien-choisir-son-linge-de-maison/#push=0-ci-Astuces_Déco_6" alt="Astuces Déco" target="_blank" style="transform: perspective(2000px);">
                <img u="image" width="215" height="232" src="http://dl1.dlmcdn.fr/images/main_page/v2/Actu_deco/Actudeco_141224_linge.jpg" style="transform: perspective(2000px);">
                <div u="caption" class="caption" t="*" style="transform: perspective(2000px);"><span style="transform: perspective(2000px);">Anne </span><span style="transform: perspective(2000px);">Swynghedauw</span><span style="transform: perspective(2000px);"> vous conseille… <strong style="transform: perspective(2000px);">Voir &gt;</strong></span><p style="transform: perspective(2000px);"></p>
                  <p style="transform: perspective(2000px);">&nbsp;</p>
                  <p style="transform: perspective(2000px);">&nbsp;</p>
                  <p style="transform: perspective(2000px);">&nbsp;</p>
                  <p style="transform: perspective(2000px);">&nbsp;</p>
                  <p style="transform: perspective(2000px);">&nbsp;<span class="captionBold" style="transform: perspective(2000px);"> Voir &gt;</span></p></div>
              </a>

              <div style="width: 215px; height: 232px; top: 0px; left: 0px; z-index: 1000; display: none;"></div></div>
            <div style="width: 215px; height: 232px; top: 0px; left: -229px; position: absolute; overflow: hidden; transform: perspective(2000px);">
              <a href="http://blog-deco-delamaison.fr/inspirations/tendances/art-de-vivre-a-la-scandinave-la-simplicite-avant-tout/#push=0-ci-Décryptage_6" alt="Décryptage" target="_blank" style="transform: perspective(2000px);">
                <img u="image" width="215" height="232" src="http://dl1.dlmcdn.fr/images/main_page/v2/Actu_deco/Actudeco_141127_decryptage.jpg" style="transform: perspective(2000px);">
                <div u="caption" class="caption" t="*" style="transform: perspective(2000px);"><span style="transform: perspective(2000px);">Découvrez le style scandinave avec </span><span style="transform: perspective(2000px);">Pernille</span><span style="transform: perspective(2000px);"> </span><span style="transform: perspective(2000px);">Picherit <strong style="transform: perspective(2000px);">Voir &gt;</strong></span><p style="transform: perspective(2000px);"></p>
                  <p style="transform: perspective(2000px);">&nbsp;</p>
                  <p style="transform: perspective(2000px);">&nbsp;</p>
                  <p style="transform: perspective(2000px);">&nbsp;</p>
                  <p style="transform: perspective(2000px);">&nbsp;</p>
                  <p style="transform: perspective(2000px);">&nbsp;</p>
                  <p style="transform: perspective(2000px);">&nbsp;</p>
                  <p style="transform: perspective(2000px);">&nbsp;</p>
                  <p style="transform: perspective(2000px);">&nbsp;</p>
                  <p style="transform: perspective(2000px);">&nbsp;</p>
                  <p style="transform: perspective(2000px);">&nbsp;<span class="captionBold" style="transform: perspective(2000px);"> Voir &gt;</span></p></div>
              </a>

              <div style="width: 215px; height: 232px; top: 0px; left: 0px; z-index: 1000; display: none;"></div></div>
            <div style="width: 215px; height: 232px; top: 0px; left: -229px; position: absolute; overflow: hidden; transform: perspective(2000px);">
              <a href="http://blog-deco-delamaison.fr/explorer/meubles-canapes/le-canape-fait-salon/#push=0-ci-Wishlist_6" alt="Wishlist" target="_blank" style="transform: perspective(2000px);">
                <img u="image" width="215" height="232" src="http://dl1.dlmcdn.fr/images/main_page/v2/Actu_deco/Actudeco_141027_wishlist.jpg" style="transform: perspective(2000px);">
                <div u="caption" class="caption" t="*" style="transform: perspective(2000px);"><span style="transform: perspective(2000px);">Une sélection canapés par Karine&nbsp;</span><span style="transform: perspective(2000px);">Quédreux</span><span class="captionBold" style="transform: perspective(2000px);"> Voir &gt;</span></div>
              </a>

              <div style="width: 215px; height: 232px; top: 0px; left: 0px; z-index: 1000; display: none;"></div></div>
          </div><div class="zone_6_arrow_left">
            <span u="arrowleft" class="jssora12l">
            </span>
          </div><div class="zone_6_arrow_right">
            <span u="arrowright" class="jssora12r">
            </span>
          </div></div></div></div>
      </div>

      <div id="zone_7">
        <div id="zone_7_left">
          <h2 class="zone_7_left_title">Plus proche de vous... échangez &amp; partagez</h2>
          <div id="zone_7_left_separator"></div>
          <div id="zone_7_left_part1">
            <div id="zone_7_left_part1_top_left">
              <a href="http://www.pinterest.com/delamaison/" alt="Pinterest" target="_blank">
                <div class="zone_7_left_part1_top_left_image front"></div>
                <div class="zone_7_left_part1_top_left_image back"></div>
              </a>
            </div>
            <div id="zone_7_left_part1_top_right">
              <a href="http://instagram.com/delamaisonfr?modal=true" alt="Instagram" target="_blank">
                <div class="zone_7_left_part1_top_right_image front"></div>
                <div class="zone_7_left_part1_top_right_image back"></div>
              </a>
            </div>
            <div id="zone_7_left_part1_bottom">
              <a href="https://www.facebook.com/delamaison.fr" alt="Facebook" target="_blank">
                <div class="zone_7_left_part1_bottom_image front"></div>
                <div class="zone_7_left_part1_bottom_image back"></div>
              </a>
            </div>
          </div>
          <div id="zone_7_left_part2">
            <a href="https://twitter.com/Delamaison" alt="Twitter" target="_blank">
              <div class="zone_7_left_part2_image front"></div>
              <div class="zone_7_left_part2_image back"></div>
            </a>
          </div>
        </div>
        <div id="zone_7_right">
          <span class="zone_7_right_title">Le carré pub</span>
          <div id="zone_7_right_separator"></div>
          <div id="zone_7_right_content">
            <script type="text/javascript">

                sas_pageid='22369/152802';      // Page : delamaison/home_page

                sas_formatid=385;                         // Format : Right 300x250

                sas_target='univers=hp';                                  // Targeting

                SmartAdServerAjax(sas_pageid,sas_formatid,sas_target);

            </script>

            <noscript>

              &lt;a href="http://ww50.smartadserver.com/call/pubjumpi/22369/152802/385/S/[timestamp]/?"&gt;

              &lt;img src="http://ww50.smartadserver.com/call/pubi/22369/152802/385/S/[timestamp]/?" border="0" alt="" /&gt;&lt;/a&gt;

            </noscript>
          </div>
        </div>
      </div>

      <div id="zone_video"></div>

      <div id="containerCart" style="display:none;">
      </div>
      <div id="containerLogin" style="display:none;">
      </div>
    </div>
    <!-- Fin content -->

    <div id="bookmark">
      <div id="bookmarkers">
      </div>
    </div>
    <div id="footer_zone_rond"></div>
  </div>
</div>
<%= yield %>
    <%= render 'layouts/footer' %>
</body>
</html>
