<!DOCTYPE html>
<html>
<head>
  <title>Delamaison</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>
<body>
<div>
  <%= render 'layouts/header' %>
  <h1>
    okopkokookokapfoaozeifo
  </h1>
</div>

<%= yield %>
    <%= render 'layouts/footer' %>
</body>
</html>
